@model List<TransporteGACweb.BL.Colaborador>
@{
    ViewBag.Title = "Index";
}

<h2>Colaboradores</h2>

<table  class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Codigo
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Precio
            </th>
        </tr>
    </thead>
@foreach (var Colaborador in Model)
{
    <tr>
        <td>@Colaborador.Id</td>
        <td>@Colaborador.Descripcion</td>
        <td>@Colaborador.Precio</td>
    </tr>
}
</table>